<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
  	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="autor" content="Your Name">	
    <link rel="shortcut icon" href="./assets/img/ico/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<title>Nome do seu projeto</title>
</head>
<body>
	<h1>Seu modelo de projeto aqui</h1>
	<script src="./assets/js/scripts.js"></script>
</body>
</html>